body{
    font-family: 'EB Garamond', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Prompt', sans-serif;
}
.first-flexible-container{
    
}
.half-width{
    width: 50%;
    margin: 5%;
}
#images{
    height: 400px;
}